.ul_navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar_top {
  padding: 15px;
}
.li_navbar {
  display: inline-block;
  padding-left: 15px;
  font-size: 14px;
  color: #000;
  opacity: 0.75;
}

.li_right {
  margin-right: 5em;
}

.google_logo {
  height: 200px;
}
